#################
## 100 days of code repo ignores
#################

# OSX
.DS_Store

# Not finished files
memjog.js
yaaarrgh.js

# NODE
node_modules
build
npm-debug.log
.env
.DS_Store
debris.js
package-lock.json
